body{
    margin:0;
    padding:5px;
    font-family:Arial, sans-serif;
    max-width:1200px;
    background-color: #0f0f10;
    color:white;
    font-family:verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

hr{
    opacity: 10%;
}

.navbar{
    display:flex;
    align-items: center;
    font-size:12px;
    background-color: #0f0f10;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
}
.reddit-logo{
    width:140px;
    margin-left:5px;
}
.search-bar{
    display:flex;
    flex:1;
    padding-left:70px;
}
.search-bar input{
    border:none;
    margin: 0px;
    font-size:14px;
    width:500px;
    background-color: rgb(60, 65, 63);
    padding:13px;
    border-radius:30px;
    color:white;
}
.menu-button,.login-button,.settings-button{
    display:flex;
}

.login-button button{
    border:none;
    border-radius:30px;
    background-color: rgb(234, 61, 14);
    color:white;
    padding:15px;
    margin:10px;
}
.login-button:hover{
    border:none;
    border-radius:30px;
    background-color:rgb(142, 53, 21);
}

.settings-button button{
    border:none;
    background-color:#0f0f10;
    color: white;
}

.settings-button:hover{
    border:none;
    border-radius:30px;
    background-color:rgb(87, 82, 82);
}

.main-layout{
    display:flex;
    align-items:flex-start;
}

.top-slides, .content-posts{
    flex:1;
}
.carousel{
    position:relative;
    width:100px;
}

.carousel-images{
    display:flex;
    position:relative;
}
.carousel-images img{
    width:290px;
    border-radius:15px;
    align-items:center;
    margin:5px;
}

.image-caption{
    text-align:center;
    bottom:10px;
}

.image-caption h1{
    font-size:20px;
    font-weight:600;
}
.image-caption h2{
    font-size:10px;
    font-weight:300;
}

.content-posts{
    flex:1;
    width:850px;
    margin:20px;
}
.content-title{
    font-size:16px;
    color:azure;
    font-weight:500;
}
.content p{
    opacity:60%;
}

.time-stamp{ 
    display:inline;
}
.join-button button{
    border-radius:30px;
    padding-left:10px;
    padding-right:10px;
    border:none;
    color:white;
    background-color:rgb(0, 115, 229);
    display:flex;
    font-weight:600;
    font-size:12px;
    float:right;
}
.subreddit{
    font-size:10px;
    font-weight:400;
}

.action-bar{
    display:flex;
}

.action-bar button{
    border-radius:30px;
    border:none;
    margin:3px;
    padding:6px;
    background-color:rgb(60, 65, 63);
    color:white;
    font-size:12px;
    font-weight:500;
}

.nfl-post video{
    width:300px;
    margin:auto;
    display:block;
}

.biden-post img{
    width:300px;
    margin:auto;
    display:block;
}

.right-sidebar{
    position:absolute;
    float:right;
    right:10px;
    top:270px;
    background-color: black;
    border-radius:20px;
    border:none;
    padding:10px;
    width:275px;
    padding:15px;
}
.right-sidebar h1{
    font-weight:500;
    text-transform:uppercase;
    font-size:14px;
}
.right-sidebar h2{
    font-size:12px;
    font-weight:400;
}

.right-sidebar h3{
    font-size:10px;
    font-weight:200;
}