body{
    margin:0;
    padding:5px;
    font-family:Arial, sans-serif;
    max-width:1200px;
    background-color: #0f0f10;
    color:white;
    font-family:verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}

hr{
    opacity: 10%;
}

.navbar{
    display:flex;
    align-items: center;
    font-size:12px;
    background-color: #0f0f10;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
}
.reddit-logo{
    width:140px;
    margin-left:5px;
}
.search-bar{
    display:flex;
    flex:1;
    padding-left:70px;
}
.search-bar input{
    border:none;
    margin: 0px;
    font-size:14px;
    width:500px;
    background-color: rgb(60, 65, 63);
    padding:13px;
    border-radius:30px;
    color:white;
}
.menu-button,.login-button,.settings-button{
    display:flex;
}

.login-button button{
    border:none;
    border-radius:30px;
    background-color: rgb(234, 61, 14);
    color:white;
    padding:15px;
    margin:10px;
}
.login-button:hover{
    border:none;
    border-radius:30px;
    background-color:rgb(142, 53, 21);
}

.settings-button button{
    border:none;
    background-color:#0f0f10;
    color: white;
}

.settings-button:hover{
    border:none;
    border-radius:30px;
    background-color:rgb(87, 82, 82);
}

.main-layout{
    display:flex;
    align-items:flex-start;
}

.top-slides, .content-posts{
    flex:1;
}
.carousel{
    position:relative;
    width:100px;
}

.carousel-images{
    display:flex;

}
.carousel-images img{
    width:290px;
    border-radius:15px;
    margin:5px;
}

.content-posts{
    flex:1;
    width:850px;
    margin:20px;
}
.content-title{
    font-size:16px;
    color:azure;
    font-weight:500;
}
.content p{
    opacity:60%;
}

.right-sidebar{
    position:fixed;
    right:0;

}